.arrow-up {
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 16px;
    background-color: #afafaf;
    clip-path: polygon(50% 0, 0 100%, 100% 100%,50% 0%);
    top: -20px;
    left: -5px;
    padding: 0;
}

.arrow-right {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 28px;
    background-color: #afafaf;

    clip-path: polygon(0 0, 0 100%, 100% 50%);
    left: 23px;
    top: -14px;
    padding: 0;
}

.arrow-down {
    position: absolute;
    width: 28px;
    height: 16px;
    background-color: #afafaf;

    clip-path: polygon(100% 0, 0 0, 50% 100%);
    bottom: -20px;
    left: -5px;
    padding: 0;
}

.arrow-left {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 28px;
    background-color: #afafaf;
    clip-path: polygon(0 50%, 100% 0%,100% 50%, 100% 100%);
    left: -21px;
    top: -14px;
    padding: 0;
}



.arrow-wrapper {
    position: relative;
    height: auto;
    align-items: center;
    justify-content: center;
}
