html,
body,
#app,
#app > div {
  height: 100%;
}

body > #root > div {
  height: 90vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*for vidu /*/
.React-logo {
  height: 50px;
  position: absolute;
  right: 0;
}

.App-logo {
  height: 25px;
  position: absolute;
  left: 0;
  padding: 10px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}

.mainLogo {
  width: 450px;
}

#title {
  text-align: center;
  height: 100%;
}
